# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# C extensions
*.so

# Output and plot directories
output/
plots/

# OrcaFlex and simulation files
*.dat
*.sim

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# OS-specific files
.DS_Store
Thumbs.db

# VSCode and IDE settings
.vscode/
.idea/

# Environment files
.env
.venv
venv/
ENV/ 